<div class="container">
	<div class="spinner" ng-show="loading"><img src="css/ring-alt.gif"></img>LOADING...</div>
	<h4>These images are on your desktop</h4>
	<li class="images" data-ng-repeat="desktop in desktops track by $index">
		<!--<h5 class="">{{ desktop.title }}</h5>-->

		<span ng-class="fat_or_tall(this)"><figure><img  onerror='this.parentNode.style.display = "none";console.log("if image isnt found, the parentNode is hidden")'
				<img ng-style="set_ratio(this)" draggable="true" class="thumb" id="{{desktop.created}}" title="{{ desktop.title }}" data-ng-src="{{ desktop.src }}" /></figure></span>
	</li>
</div>



